<footer class="footer border-top order-secondary-subtle">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between py-5">
            <!-- 次選單 -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-black" href="serve.html">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="about.html">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="contact.html">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="privacy.html">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="terms.html">用戶條款</a>
                </li>
            </ul>
            <p class="text-secondary">Copyright &copy; 2025 職旅 workway. All rights reserved.</p>
        </div>
    </div>
</footer>