<footer class="footer border-top bg-natural-95">
    <div class="container">
        <div class="d-md-flex align-items-md-center justify-content-md-between py-5 py-md-6">
            <!-- 次選單 -->
            <ul class="nav justify-content-center mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link fs-7 fs-md-6 px-5" href="serve.html">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-7 fs-md-6 px-5" href="about.html">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-7 fs-md-6 px-5" href="contact.html">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-7 fs-md-6 px-5" href="privacy.html">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-7 fs-md-6 px-5" href="terms.html">用戶條款</a>
                </li>
            </ul>
            <!-- 版權聲明 -->
            <p class="text-natural-50 fs-7">Copyright &copy; 2025 職旅 workway. All rights reserved.</p>
        </div>
    </div>
</footer>