// 距離
.distance-py-80 {
    padding: 80px 0;
}

// 圓角風格
.rounded-style {
    border-radius: 24px;
    background: #fff;
}

// 藍色字
.text-blue {
    color: #4A69E8;
}

// 顯示狀態
.state-display {
    font-size: 18px;
    color: #667F99;
}

// 職旅計畫 | 表單
.form-header {
    width: 300px;
}

// 頭貼
.avatar {
    width: 120px;
    height: 120px;
}